.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.margin-right{
  margin-right: 10px;
}

/* a#tab-tab-find-a-job:visited{
  background-color: purple;
    border: none;
    color: white;
}

a#tab-tab-find-a-candidate:visited{
  background-color: purple;
    border: none;
    color: white;
} */

.tab-content{
  background-color: purple;
}


/* Active tab */
.myClass > a.active,
{
  background-color: purple;
  border: none;
  color: white;
}

.myClass > a{
  color:#495057;
}

.myClass > a:hover{
  color:#495057
}